/* Brackets */
#bracket_round {display:flex;flex-direction:column;margin-bottom: 10px;width: 80%;}
#playin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:40px 10px;
  border: solid 2px black;
  width: 750px;}
.group_stage{
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
#groupA {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px 10px;
  border: solid 2px black;
  width: 750px;}
#groupB {
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px 10px;
  border: solid 2px black;
  width: 750px;}
#playoffs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px 0px;
  border: solid 2px black;
  width: 900px;}

.upper {height:350px;margin: auto;display: flex;} /* All upper sections */

.lower {height: 190px;margin: auto;display: flex;} /* All lower sections */

.matchup{margin: 0 2.5% 0 2.5%;height: 60px;}
.quarterfinals .matchup {padding: 20px 0px;} /* All QF matches */
.semifinals .matchup {padding: 55px 0px;} /* All SF matches */
.quals .matchup {padding: 55px 0px;} /* All Qual boxes(match semifinals matches) */
.lower .matchup {padding: 20px 0px;} /* All lower matches */
.final .matchup {padding: 30px 0px;} /* Only the final matche */

#playoffs .upper .matchup{padding: 15px 0px;margin: 0 0 15px; width: 210px;} /* adds padding in between the matchups, and sizes the width to match the other matchups */
#playoffs .upper{height:200px;margin-left: 230px;} /* Moves the bracket boxes to right 230px */
#playoffs .upper .round-details{margin-right: auto;} /* Moves the upperquarterfinals text to the left */

.round-details {min-width:200px;color: #2C7399;text-transform: uppercase;text-align: center;}
.date {font-size: 10px; letter-spacing: 2px;font-family: 'Istok Web', sans-serif;color:#3F915F;}
.score {float: right;color: #00ffcc;font-weight: bold;position: absolute;right: 5px;}
.team {
  padding: 0 5px;
  margin: 3px 0;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: white;
  background-color: #1e1e2f;}

#win {color: white;background-color: #248635;} /* id="win" */
#lose {color: white;background-color: #9c2438;} /* id="lose" */

@media screen and (max-width: 1500px) {
  .group_stage{
    flex-direction: column;
    gap: 0;
  }
  #groupA{
    margin-right: auto;
  }
  #groupB{
    margin-left: auto;
  }
}






/*
General
height: 90vh; (viewport 90% height units)
overflow:hidden; hides the markers in a list

Flexbox
display: flex;
flex direction: (row)(column)
justify content(x-axis): (flex-start)(flex-end)(center)(space-between)(space-around)(space-evenly)
align-items(y-axis): (flex-start)(flex-end)(center)(baseline"Text is aligned")(space-between)(space-around)(space-evenly)
flex-wrap(used if theres not enough space): (nowrap)(wrap)(wrap-reverse)
align-content(used with "wrap"): (flex-start)(flex-end)(center)(space-between)(space-evenly)
column-gap: 1em;
row-gam: 2em;
align-self(applied to single elements): (start)(end)(center)

Position
relative = positioned relative to where it normally is
fixed = positioned relative to the viewport
absolute = relative to the nearest ancestor
sticky = based on scroll position
static = default posiiton for an element
*/